<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD MAPPER 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.bilibili.dao.UserDao">
    <select id="getUserByPhone" parameterType="String" resultType="com.project.bilibili.domain.User">
        select
            *
        from
            t_user
        where
            phone=#{phone}
    </select>

<!--  后面表示需要插入之后需要拿到插入数据生成的主键Key-->
    <insert id="addUser" parameterType="com.project.bilibili.domain.User" useGeneratedKeys="true" keyProperty="id">
        insert into
            t_user(
                   phone,
                   email,
                   password,
                   salt,
                   createTime
        )values (
                 #{phone},
                 #{email},
                 #{password},
                 #{salt},
                 #{createTime}
                )
    </insert>
</mapper>